@import "../../variables";

.footer {
  position: relative;

  width: 100lvw;

  background-color: $dark_navy_blue;
  color: #ffffff;

  &::before {
    $bgImgWidth: 600px;

    content: "";

    position: absolute;
    z-index: 0;

    display: block;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("/img/footer/ulb-sceau.png");
    background-repeat: no-repeat;
    background-size: auto $bgImgWidth;
    background-position: -(calc($bgImgWidth / 2)) 60%;

    opacity: .1;
  }

  .links {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px 50px;

    margin: 0 13lvw;
    padding-bottom: 7lvh;

    > article {
      h3 {
        font-size: 1.4rem;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;

        li {
          margin: 7px 0;
        }

        hr {
          margin: 15px 0;
        }
      }
    }

    .about {
      width: 8lvw;
    }

    .faculties {
      ul {
        li {
          p {
            &::before {
              content: "";

              display: inline-block;

              width: 12px;
              height: 12px;

              margin-right: 10px;

              background-color: #ffffff;

              clip-path: polygon(100% 0, 100% 100%, 0 100%);
            }
          }
        }

        #phisoc {
          p::before {
            background-color: #0099cc;
          }
        }

        #ltc {
          p::before {
            background-color: #858791;
          }
        }

        #droit {
          p::before {
            background-color: #a11f7d;
          }
        }

        #sbsem {
          p::before {
            background-color: #f6a924;
          }
        }

        #psycho {
          p::before {
            background-color: #006bb3;
          }
        }

        #psycho_cambre {
          p::before {
            background-color: #90be45;
          }
        }

        #psycho_sciences {
          p::before {
            background-color: #6c5098;
          }
        }

        #polytech {
          p::before {
            background-color: #1a171b;
          }
        }

        #medecine {
          p::before {
            background-color: #e32119;
          }
        }

        #pharmacie {
          p::before {
            background-color: #008751;
          }
        }

        #psycho_sante_publique {
          p::before {
            background-color: #e32119;
          }
        }

        #fsm {
          p::before {
            background-color: #e32119;
          }
        }

        //hr

        #ltc_cooremans {
          p::before {
            background-color: #858791;
          }
        }

        #bioing {
          p::before {
            background-color: #00a59a;
          }
        }

        #psycho_pole_sante {
          p::before {
            background-color: #e32119;
          }
        }

        #iee {
          p::before {
            background-color: #00509a;
          }
        }

        #education {
          p::before {
            background-color: #163e69;
          }
        }
      }
    }

    .socials {
      h3,
      ul {
        margin-left: 20px;
      }

      ul {
        display: flex;
        gap: 15px;

        margin-bottom: 30px;
      }

      .contacts {
        display: flex;

        .link {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          padding: 15px 40px;

          background-color: #ffffff0c;

          &:hover {
            background-color: #ffffff48;

            p {
              background-color: transparent;
            }
          }

          &:first-of-type {
            border: solid #ffffff2d;
            border-width: 0 1px 0 0;
          }
        }
      }

      img {
        width: auto;
        height: auto;
      }
    }
  }

  .legal {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    gap: 30px;

    width: 100%;

    padding: 0 15lvw;

    background-color: $deep_blue;

    .link {
      p {
        font-size: 14px;
      }
    }

    .accesses {
      margin-left: auto;

      p {
        text-transform: uppercase;

        padding: 2lvh 2lvw;

        background-color: #00172d;
      }
    }
  }

  .link {
    width: fit-content;

    p {
      width: fit-content;
      font-size: 1.1rem;
    }

    &:hover {
      cursor: pointer;

      p {
        background-color: $navy_blue;
      }
    }
  }
}

@media (max-width: 400px) {
  .footer {
    &::before {
      display: none;
    }
  }
}
