@import "../../../../variables";

.main {
  $borderRadius: 20px;

  td {
    text-align: left;

    padding: 10px 20px;

    &:nth-of-type(3) {
      text-align: right;
    }

    &:first-of-type {
      border-radius: $borderRadius 0 0 $borderRadius;
    }

    &:last-of-type {
      border-radius: 0 $borderRadius $borderRadius 0;
    }

    .inscription_link {
      text-decoration: underline;
    }
  }

  &:nth-of-type(even) {
    td {
      background-color: #ffffff;

      .inscription_link:hover {
        color: $blue;
      }
    }
  }

  &:nth-of-type(odd) {
    td {
      background-color: $blue;
      color: #ffffff;

      .inscription_link:hover {
        color: $dark_blue;
      }
    }
  }
}

@media (max-width: 400px) {
  .main {
    $borderRadius: 10px;

    td {
      padding: 10px;

      &:first-of-type {
        border-radius: $borderRadius 0 0 $borderRadius;
      }

      &:last-of-type {
        border-radius: 0 $borderRadius $borderRadius 0;
      }
    }
  }
}
