.main {
  width: 80lvw;
  min-height: 50lvh;

  margin: 0 10lvw;

  background-color: #ffffff;

  .inscription_data {
    padding: 20px min(5lvw, 30px);

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 2.5rem;
      margin-top: 20px;
    }

    .matricule {
      margin-bottom: 30px;
    }

    .inscription_annee_etude {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 20px;
    }
  }
}

@media (max-width: 400px) {
  .main {
    width: 90lvw;
    margin: 0 5lvw;

    .inscription_data {
      .inscription_annee_etude {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
    }
  }
}
