@import "../../../../variables";

.main {
  padding: 20px;

  border-radius: 10px;

  background-color: $light_blue;
  color: $dark_blue;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-bottom: 10px;

    border: $dark_blue dotted;
    border-width: 0 0 2px 0;

    h4 {
      font-size: 20px;
    }
  }

  .cours_table {
    width: 100%;

    margin-top: 20px;

    border-collapse: collapse;

    th {
      text-align: left;

      border-bottom: 10px solid transparent;

      &:nth-of-type(3),
      &:nth-of-type(4) {
        text-align: right;
      }
    }
  }
}
