.main {
  .title_input {
    appearance: none;

    width: 100%;

    padding: 10px 20px;
    padding-top: 20px;

    &::before {
      content: "Inscriptions";
      font-size: 2rem;
    }
  }

  .no_result {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 20px;
  }

  .inscriptions_list {
    display: grid;
    gap: 5px;

    margin-bottom: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 400px) {
  .main {
    .title_input {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-top: 10px;

      &::after {
        content: "▾";
        font-size: 2rem;
      }

      &:checked::after {
        content: "▴";
      }
    }

    .content {
      display: none;
    }

    input[type="checkbox"]:checked + .content {
      display: block;
    }
  }
}
