@import "../../../variables";

.main {
  display: flex;

  width: 80lvw;

  margin: 0 10lvw;

  background-color: #ffffff;

  .dashboard_container {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;

    margin: 30px;

    > article {
      border-radius: 10px;

      background-color: $light_blue;
      color: $dark_blue;
    }
  }
}

@media (max-width: 800px) {
  .main {
    .dashboard_container {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
}

@media (max-width: 400px) {
  .main {
    width: 100lvw;

    margin: 0;

    background-color: $blue;
  }
}
